<?xml version="1.0"?>
<config>
    <modules>
        <MageExtend_Blog>
            <version>0.1.0</version>
        </MageExtend_Blog>
    </modules>
    <frontend>
        <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>MageExtend_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
    </frontend>
    <global>
        <blocks>
            <blog>
                <class>MageExtend_Blog_Block</class>
            </blog>
        </blocks>
        <helpers>
            <blog>
                <class>MageExtend_Blog_Helper</class>
            </blog>
        </helpers>
        <resources>
            <mageextend_blog_setup>
                <setup>
                    <module>MageExtend_Blog</module>
                </setup>
            </mageextend_blog_setup>
        </resources>
        <models>
            <blog>
                <class>MageExtend_Blog_Model</class>
                <resourceModel>blog_mysql4</resourceModel>
            </blog>
            <blog_mysql4>
                <class>MageExtend_Blog_Model_Mysql4</class>
                <entities>
                    <category>
                        <table>extend_blog_category</table>
                    </category>
                    <post>
                        <table>extend_blog_post</table>
                    </post>
                    <comment>
                        <table>extend_blog_comment</table>
                    </comment>
                    <linking>
                        <table>extend_blog_linking</table>
                    </linking>
                </entities>
            </blog_mysql4>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MageExtend_Blog before="Mage_Adminhtml">MageExtend_Blog_Adminhtml</MageExtend_Blog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <myaccount>
                    <file>mageextend/blog.xml</file>
                </myaccount>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <myaccount>
                    <file>mageextend/blog.xml</file>
                </myaccount>
            </updates>
        </layout>
    </frontend>
</config>